<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cats.css">
    <title>LatMia</title>
</head>

<body>
    <header>
        <img src="/assets/images/logo_cat.webp" alt="logo">
        <span>
            <a class="switch_page" href="/caes">Cães</a>
            <a href="/cadastro">Adicionar</a>
            <a href="/perfil">Perfil</a>
        </span>
    </header>
    <main>
        <section class="animal_carousel">
            <h2>Gatos recentemente listados</h2>
            <div class="carousel_items">

                <div class="container">
                    <div>
                        <a href="">
                            <img src="/assets/images/sillycat.jpg">
                            <h2>GATO miaumiaumiau</h2>
                        </a>
                    </div>
                </div>

                <div class="container">
                    <div>
                        <a href="">
                            <img src="/assets/images/sillycat.jpg">
                            <h2>GATO miaumiaumiau</h2>
                        </a>
                    </div>
                </div>

                <div class="container">
                    <div>
                        <a href="">
                            <img src="/assets/images/sillycat.jpg">
                            <h2>GATO miaumiaumiau</h2>
                        </a>
                    </div>
                </div>

                <div class="container">
                    <div>
                        <a href="">
                            <img src="/assets/images/sillycat.jpg">
                            <h2>GATO miaumiaumiau</h2>
                        </a>
                    </div>
                </div>

                <div class="container">
                    <div>
                        <a href="">
                            <img src="/assets/images/sillycat.jpg">
                            <h2>GATO miaumiaumiau</h2>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="animal_grid">
            <h2>Gatos brabossss</h2>
            <div class="grid_items">
                <div class="container">
                    <div>
                        <a href="">
                            <img src="/assets/images/sillycat.jpg">
                            <h2>GATO miaumiaumiau</h2>
                        </a>
                    </div>
                </div>

                <div class="container">
                    <div>
                        <a href="">
                            <img src="/assets/images/sillycat.jpg">
                            <h2>GATO miaumiaumiau</h2>
                        </a>
                    </div>
                </div>

                <div class="container">
                    <div>
                        <a href="">
                            <img src="/assets/images/sillycat.jpg">
                            <h2>GATO miaumiaumiau</h2>
                        </a>
                    </div>
                </div>

                <div class="container">
                    <div>
                        <a href="">
                            <img src="/assets/images/sillycat.jpg">
                            <h2>GATO miaumiaumiau</h2>
                        </a>
                    </div>
                </div>

                <div class="container">
                    <div>
                        <a href="">
                            <img src="/assets/images/sillycat.jpg">
                            <h2>GATO miaumiaumiau</h2>
                        </a>
                    </div>
                </div>

                <div class="container">
                    <div>
                        <a href="">
                            <img src="/assets/images/sillycat.jpg">
                            <h2>GATO miaumiaumiau</h2>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </main>
</body>

</html>