<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>LatMia</title>
</head>

<body>
    <div class="side-bar">
        <div class="logo-background"> <img src="assets/images/logo_dog_and_cat.webp" alt="logo" class="logo-img"></div>
    </div>
    <main>
        <p class="intro-text">Lar de adoção para cães e gatos</p>

        <form action="#" method="get">
            <div class="form-container">

                <span class="form-title">Entre em sua conta</span>

                <div class="input-group">
                    <div class="input-container">
                        <label for="user-email">EMAIL</label>
                        <input type="email" name="user-email" id="user-email" required>
                    </div>
                    <div class="input-container">
                        <label for="user-password">SENHA</label>
                        <input type="password" name="user-password" id="user-password" required>
                    </div>

                </div>

            </div>
            <div class="button-container">
                <button type="submit" class="submit-button">Log In</button>
            </div>
        </form>
    </main>
</body>

</html>